<!--Carousel Wrapper-->
<div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-1z" data-slide-to="1"></li>
      <li data-target="#carousel-example-1z" data-slide-to="2"></li>

    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://images.unsplash.com/photo-1507539989371-99615e449486?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=829&q=80"
          alt="First slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>
                Depression taught me the importance of compassion and hard work, and that you can overcome enormous obstacles. <br>
              </h5>
              <p class="q">
                – Rob Delaney
              </p>
          </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 image-responsive" src="https://images.unsplash.com/photo-1576764721257-242b757e67d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
            <h5 class="display-5">However difficult life may seem, there is always something you can do and succeed at.</h5>
        </div>
      </div>
      <!--/Second slide-->
      <!--Third slide-->
      <div class="carousel-item">
        <img class="d-block w-100" src="\images\1.jpeg" alt="Third slide">
      </div>

    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div>
  <!--/.Carousel Wrapper-->
  <div class="container mt-5">
      <h3 class="mb-5 moti text-center">Need some motivation?</h3>
        <div class="-fx-image-gal">
            <div class="-fx-gal-item">
                <div class="-fx-gal-image-thumb" tabindex="1">
                    <img src="https://images.unsplash.com/photo-1580598506092-12160ea975d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1575&q=80" />
                    </a>
                </div>
            </div><!-- /-fx-gal-item -->

            <div class="-fx-gal-item">
                <div class="-fx-gal-image-thumb" tabindex="1">
                    <img src="https://images.unsplash.com/photo-1528716321680-815a8cdb8cbe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=410&q=80" />
                </div>
            </div><!-- /-fx-gal-item -->

            <div class="-fx-gal-item">
                <div class="-fx-gal-image-thumb" tabindex="1">
                    <img src="https://images.unsplash.com/photo-1534196511436-921a4e99f297?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80" />
                </div>
            </div><!-- /-fx-gal-item -->

            <div class="-fx-gal-item">
                <div class="-fx-gal-image-thumb" tabindex="1">
                    <img src="https://images.unsplash.com/photo-1547561090-e2c1104d363f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80" />
                </div>
            </div><!-- /-fx-gal-item -->

            <div class="-fx-gal-item">
                <div class="-fx-gal-image-thumb" tabindex="1">
                    <img src="https://images.unsplash.com/photo-1522688306378-fbb315c6ba9a?ixlib=rb-1.2.1&auto=format&fit=crop&w=420&q=80" />
                </div>
            </div><!-- /-fx-gal-item -->

            <div class="-fx-gal-item">
                <div class="-fx-gal-image-thumb" tabindex="1">
                        <img src="\images\7.jpeg" />
                </div>
            </div><!-- /-fx-gal-item -->
        </div><!-- /gallery -->
    </div>